.o_survey_form_file_upload {
    .o_survey_form_file_upload_dropzone.border {
        border-style: dashed;
        background-color: rgba(0, 0, 0, 0.02);
    }

    .o_survey_form_file_upload_list li {
        background-color: #fff;
    }
}
